nav.site-navigation
  //- .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='https://skill.registernorkaroots.org/register' target="_blank") Skill Registry
    li
      a(data-scroll, href='/console' target="_blank") Submit Idea
    li
      a(data-scroll, href='https://skill.registernorkaroots.org/employer/register' target="_blank") Find Employees
    li
      a(data-scroll, href='/console/public/resolutions' target="_blank") Reports

    