#login-section {
  background-image: url('../img/bg.png');
  background-size: cover;
  height: 100vh;
}

#login-card {
  margin-top: 60px;
  background: rgba(255, 255, 255, .6);
  box-shadow: 0 0 20px rgba(234, 7, 99, .2);
}