doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/repo.scss")

  body
    include parts/menu.pug

    section.section-content#app
      .container.mt-5
        .row
          .col-sm-12
            h2 Disclaimer
            p This is a voluntary effort from NORKA Roots with an objective to provide a platform for reemployment opportunities to the returning NRKs. Registration in this portal does not guarantee jobs. Data provided by the individual will be shared only with potential employers. User name & passwords will not be shared for any other purpose.
            p By clicking Agree & Register, you agree to the disclaimer of NORKA Roots.

        

    script(src="./js/index.js")