doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/tooltip.scss")
  body

    //- include parts/menu.pug

    .language
      //- p Choose Language:
      a(href="index.pug") English
      a(href="home_ml.pug") മലയാളം

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install


    section#main-section
      .scene
      .overlay
      #video-slider
        img.img-fluid.w-50.mb-5.max-150(src="./img/dk_logo_white.svg")
        h2 ഡ്രീം കേരള പദ്ധതി
        p.text-justify.mt-3 നമ്മുടെ സംസ്ഥാനം തികച്ചും അപരിചിതമായ ആരോഗ്യ-സാമ്പത്തിക പ്രതിസന്ധിയിലൂടെയാണ് കടന്നു പോകുന്നത്. കേരളത്തിന്റെ സമ്പദ് വ്യവസ്ഥയുടെ ജീവരക്തമായ പതിനായിരക്കണക്കിന് പ്രവാസികള്‍ തൊഴില്‍ നഷ്ടപ്പെട്ട്  മടങ്ങിയെത്തുകയാണ്.  ഈ പ്രതിസന്ധി ഒരവസരം കൂടിയാണ്. സര്‍ക്കാരിനും വാണിജ്യസ്ഥാപനങ്ങള്‍ക്കും പ്രവാസി മലയാളികളുടെ ആഗോള നിലവാരമുള്ള വൈദഗ്ദ്ധ്യം പ്രയോജനപ്പെടുത്താനുള്ള അവസരം. പ്രവാസിമലയാളിസമൂഹത്തിന്റെ ക്ഷേമത്തിനുതകുന്ന സൃഷ്ടിപരമായ നിര്‍ദേശങ്ങളും പദ്ധതികളും നിങ്ങള്‍ക്ക് സര്‍ക്കാരുമായി പങ്കുവയ്ക്കാം. തിരഞ്ഞെടുക്കപ്പെടുന്ന നിര്‍ദേശങ്ങള്‍/പദ്ധതികള്‍/മാതൃകകള്‍  ബന്ധപ്പെട്ട മേഖലയിലെ വിദഗ്ദ്ധരുടെ സഹായത്തോടെ നടപ്പാക്കും.
        //- h4.text-center Next batch start on September 1, 2020
        .mt-3.text-center
          a.button.btn.btn-primary.mr-2.mb-2(href="https://skill.registernorkaroots.org/register" data-tooltip="നോര്‍ക സ്‌കില്‍സ് പോര്‍ട്ടലില്‍ നിങ്ങളുടെ വൈദഗ്ദ്ധ്യവും പ്രവൃത്തിപരിചയവും ദയവായി രജിസ്റ്റര്‍ ചെയ്യുക" data-tooltip-conf="top info multiline shadow") സ്‌കില്‍ രജിസ്റ്റര്‍ ചെയ്യാന്‍
          a.button.btn.btn-primary.mr-2.mb-2(href="https://skill.registernorkaroots.org/employer/register" data-tooltip="തൊഴിലാളികളെ ആവശ്യമുള്ള ഒരു ബിസിനസ്മാനാണ് നിങ്ങളെങ്കില്‍ നോര്‍ക്ക പോര്‍ട്ടലില്‍ ഒരു എംപ്ലോയറായി രജിസ്റ്റര്‍ ചെയ്ത് നിങ്ങളുടെ പ്രദേശത്തു ലഭ്യമായ അനുയോജ്യമായ തൊഴിലാളികളെ കണ്ടെത്താവുന്നതാണ്." data-tooltip-conf="top info multiline shadow") തൊഴിലാളികളെ കണ്ടെത്താന്‍
          a.button.btn.btn-primary.mb-2(href="/console" target="_blank" data-tooltip="പ്രവാസിമലയാളിക്ഷേമത്തിനുള്ള നിങ്ങളുടെ ആശയങ്ങളും വിശദാംശങ്ങളും ദയവായി സമര്‍പ്പിക്കുക." data-tooltip-conf="top info multiline shadow") പ്രവാസിമലയാളിക്ഷേമം- ആശയങ്ങള്‍ സമര്‍പ്പിക്കാന്‍
        .mt-0
          a.button.btn.btn-outline-primary(href="/console/public/resolutions" data-tooltip="ലോകകേരളസഭ സ്റ്റാന്‍ഡിങ് കമ്മിറ്റി റിപ്പോര്‍ട്ടുകള്‍ വായിച്ച് അഭിപ്രായം രേഖപ്പെടുത്താം." data-tooltip-conf="top info multiline shadow") ലോകകേരളസഭ റിപ്പോര്‍ട്ടുകള്‍
        a.text-white.mt-3.readmore(href="#") കൂടുതൽ വായിക്കുക
        #readmore-content
          ol
            li പ്രവാസി മലയാളി സമൂഹത്തിൻ്റെ ക്ഷേമത്തിനുതകുന്ന സൃഷ്ടിപരമായ നിർദ്ദേശങ്ങളും പദ്ധതികളും നിങ്ങൾക്ക് സർക്കാരുമായി പങ്കുവയ്ക്കാം.(പരമാവധി 250 വാക്കുകളിൽ ആശയം എഴുതുക) തെരഞ്ഞെടുക്കപ്പെടുന്ന നിർദ്ദേശങ്ങൾ/പദ്ധതികൾ/ മാതൃകകൾ ബന്ധപ്പെട്ട മേഖലയിലെ വിദഗ്ദ്ധരുടെ സഹായത്തോടെ നടപ്പാക്കും.
            li തൊഴിൽ നൈപുണ്യം (വിദഗ്ദ്ധ/ അർദ്ധ വിദഗ്ദ്ധ) രജിസ്റ്റർ ചെയ്യാൻ സ്കിൽസ് പോർട്ടലിൽ നിങ്ങളുടെ വൈദഗ്ദ്ധ്യവും പ്രവൃത്തി പരിചയവും ദയവായി രജിസ്റ്റർ ചെയ്യുക.
            li തൊഴിൽ ദാതാക്കൾ, തൊഴിൽ സംരഭകർ എന്നിവർക്ക് രജിസ്റ്റർ ചെയ്യാം. നിങ്ങളുടെ തൊഴിൽ സംരഭം സ്വദേശത്തോ വിദേശത്തോ ആകാം. പരിചയസമ്പന്നരും വിദഗ്ദ്ധരും അർദ്ധ വിദഗ്ദ്ധരുമായ നിരവധി പേർ തൊഴിൽ സന്നദ്ധരായി ഉണ്ട്.ആവശ്യാനുസരണം തെരഞ്ഞെടുക്കാൻ അവസരം.
            li ലോക കേരളസഭയിൽ ഉയർന്നു വന്ന ക്രിയാത്മകമായ വികസന നിർദ്ദേശങ്ങൾ ഇവിടെ വായിക്കാം. അതു സംബന്ധിച്ച അഭിപ്രായങ്ങളും നിർദ്ദേശങ്ങളും പങ്കുവയ്ക്കാം.


    //- section#home-section
    //-   .scene
    //-   #video-slider
    //-     .row.align-items-center.h-100
    //-       .col-lg-7
    //-         #info-container
    //-           img.img-fluid.w-50.mb-5.max-150(src="./img/dk_logo_white.svg")
    //-           h2 ഡ്രീം കേരള പദ്ധതി
    //-           p.text-justify.mt-3 നമ്മുടെ സംസ്ഥാനം തികച്ചും അപരിചിതമായ ആരോഗ്യ-സാമ്പത്തിക പ്രതിസന്ധിയിലൂടെയാണ് കടന്നു പോകുന്നത്. കേരളത്തിന്റെ സമ്പദ് വ്യവസ്ഥയുടെ ജീവരക്തമായ പതിനായിരക്കണക്കിന് പ്രവാസികള്‍ തൊഴില്‍ നഷ്ടപ്പെട്ട്  മടങ്ങിയെത്തുകയാണ്.  ഈ പ്രതിസന്ധി ഒരവസരം കൂടിയാണ്. സര്‍ക്കാരിനും വാണിജ്യസ്ഥാപനങ്ങള്‍ക്കും പ്രവാസി മലയാളികളുടെ ആഗോള നിലവാരമുള്ള വൈദഗ്ദ്ധ്യം പ്രയോജനപ്പെടുത്താനുള്ള അവസരം. പ്രവാസിമലയാളിസമൂഹത്തിന്റെ ക്ഷേമത്തിനുതകുന്ന സൃഷ്ടിപരമായ നിര്‍ദേശങ്ങളും പദ്ധതികളും നിങ്ങള്‍ക്ക് സര്‍ക്കാരുമായി പങ്കുവയ്ക്കാം. തിരഞ്ഞെടുക്കപ്പെടുന്ന നിര്‍ദേശങ്ങള്‍/പദ്ധതികള്‍/മാതൃകകള്‍  ബന്ധപ്പെട്ട മേഖലയിലെ വിദഗ്ദ്ധരുടെ സഹായത്തോടെ നടപ്പാക്കും.
    //-           //- h4.text-center Next batch start on September 1, 2020
    //-           .mt-3.text-center
    //-             a.button.btn.btn-primary.mr-2.mb-2(href="#" data-tooltip="നോര്‍ക സ്‌കില്‍സ് പോര്‍ട്ടലില്‍ നിങ്ങളുടെ വൈദഗ്ദ്ധ്യവും പ്രവൃത്തിപരിചയവും ദയവായി രജിസ്റ്റര്‍ ചെയ്യുക" data-tooltip-conf="top info multiline shadow") സ്‌കില്‍ രജിസ്റ്റര്‍ ചെയ്യാന്‍
    //-             a.button.btn.btn-primary.mr-2.mb-2(href="#" data-tooltip="തൊഴിലാളികളെ ആവശ്യമുള്ള ഒരു ബിസിനസ്മാനാണ് നിങ്ങളെങ്കില്‍ നോര്‍ക്ക പോര്‍ട്ടലില്‍ ഒരു എംപ്ലോയറായി രജിസ്റ്റര്‍ ചെയ്ത് നിങ്ങളുടെ പ്രദേശത്തു ലഭ്യമായ അനുയോജ്യമായ തൊഴിലാളികളെ കണ്ടെത്താവുന്നതാണ്." data-tooltip-conf="top info multiline shadow") തൊഴിലാളികളെ കണ്ടെത്താന്‍
    //-             a.button.btn.btn-primary.mb-2(href="/console" target="_blank" data-tooltip="പ്രവാസിമലയാളിക്ഷേമത്തിനുള്ള നിങ്ങളുടെ ആശയങ്ങളും വിശദാംശങ്ങളും ദയവായി സമര്‍പ്പിക്കുക." data-tooltip-conf="top info multiline shadow") പ്രവാസിമലയാളിക്ഷേമം- ആശയങ്ങള്‍ സമര്‍പ്പിക്കാന്‍
    //-           .mt-0
    //-             a.button.btn.btn-outline-primary(href="/console/public/resolutions" data-tooltip="ലോകകേരളസഭ സ്റ്റാന്‍ഡിങ് കമ്മിറ്റി റിപ്പോര്‍ട്ടുകള്‍ വായിച്ച് അഭിപ്രായം രേഖപ്പെടുത്താം." data-tooltip-conf="top info multiline shadow") ലോകകേരളസഭ റിപ്പോര്‍ട്ടുകള്‍
    
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script(src="./js/threed.js")
