doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/tooltip.scss")
  body

    include parts/menu.pug
    .language
      //- p ഭാഷ തിരഞ്ഞെടുക്കുക:
      a(href="home_ml.pug") മലയാളം
      a(href="index.pug") English

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#main-section
      .scene
      .overlay
      #video-slider
        img.img-fluid.w-50.mb-5.max-150(src="./img/dk_logo_white.svg")
        h2 Dream Kerala Project
        p.text-justify.mt-3 Kerala is going through a tough time both in terms of economic and healthwise. The expatriates or Non-Resident Keralites (NRK) who have been pumping our economy with enough foreign remittance for many years are returning in large numbers after they lost their jobs abroad. However, every crisis opens new possibilities and new opportunities. With a huge pool of skilled HR back home and their expertise needing a platform to be tapped, the state's business as well as entrepreneurial sector could step in and utilize their skills well. State Government is also looking to hear constructive suggestions or ideas that would contribute to the welfare of the returned NRK community. The selected suggestions, projects, and plans will be implemented with the help of experts from respective fields.
        
        .mt-0
          a.button.btn.btn-primary.mr-2.mb-2(href="https://skill.registernorkaroots.org/register" data-tooltip="Please register in the Norka skills portal along with details of your skills and experience" data-tooltip-conf="top info multiline shadow") Skill Registry
          a.button.btn.btn-primary.mb-2.mr-2(href="/console" target="_blank" data-tooltip="If you have an idea for welfare of non-resident Keralites, please submit your idea & details here" data-tooltip-conf="top info multiline shadow") Submit ideas for NRK welfare
          a.button.btn.btn-primary.mr-2.mb-2(href="https://skill.registernorkaroots.org/employer/register" data-tooltip="If you are a businessman and you are facing shortage of labour, please register as an employer in the Norka portal & search potential employees in your area" data-tooltip-conf="top info multiline shadow") Find potential employees
        .mt-0
          a.button.btn.btn-outline-primary(href="/console/public/resolutions" data-tooltip="Please go through this page to view the standing committee reports of Loka Kerala Sabha & enter your comments" data-tooltip-conf="top info multiline shadow") Loka Kerala Sabha Reports 
        a.text-white.mt-3.readmore(href="#") Read More
        #readmore-content
          ol
            li You can share your Creative suggestions and projects intended for the Welfare of the Pravasi Malayalees with the Government of Kerala. The idea should be expressed in minimum 250 words. Selected Suggestions / Projects models will be implemented in Consultation with the experts in the respective field.
            li In order to register your work experience (SKilled/ Semi skilled) you may please enter your skills and experience in the Skills Portal.
            li Employers who wish to provide Job inside or outside the Country Can register.  Inum merable highly experienced / Skilled Semiskilled persons aspiring for a Job are available. You have the opportunity to make Selections as required.
            li In this context the creative suggestions which were put forward in the loka Kerala sabha  are worth mentioning. Your Suggestions and remarks in this regard may be shared.

    //- section#home-section
    //-   .scene
    //-   #video-slider
    //-     .row.align-items-center.h-100
    //-       .col-lg-7
    //-         #info-container
    //-           img.img-fluid.w-50.mb-5.max-150(src="./img/dk_logo_white.svg")
    //-           h2 Dream Kerala Project
    //-           p.text-justify.mt-3 Kerala is going through a tough time both in terms of economic and healthwise. The expatriates or Non-Resident Keralites (NRK) who have been pumping our economy with enough foreign remittance for many years are in large numbers returning after they lose their jobs abroad. However, every crisis opens new possibilities and new opportunities. With a large pool of human resource with enough expertise back and they all look for meaningful use of it for a living, the state's business as well as entrepreneur sector could well step in and utilise their skills in good use. State Government is also looking to hear constructive suggestions or plan that would contribute to the welfare of the returned NRK community. The selected suggestions, projects, and plans will be implemented with the help of experts from respective fields.
    //-           //- h4.text-center Next batch start on September 1, 2020
    //-           .mt-3.text-center
    //-             a.button.btn.btn-primary.mr-2.mb-2(href="#" data-tooltip="Please register in the Norka skills portal along with details of your skills and experience" data-tooltip-conf="top info multiline shadow") Register your skill here
    //-             a.button.btn.btn-primary.mr-2.mb-2(href="#" data-tooltip="If you are a businessman and you are facing shortage of labour, please register as an employer in the Norka portal & search potential employees in your area" data-tooltip-conf="top info multiline shadow") Find potential employees
    //-             a.button.btn.btn-primary.mb-2(href="/console" target="_blank" data-tooltip="If you have an idea for welfare of non-resident Keralites, please submit your idea & details here" data-tooltip-conf="top info multiline shadow") Submit idea for NRK welfare
    //-           .mt-0
    //-             a.button.btn.btn-outline-primary(href="/console/public/resolutions" data-tooltip="Please go through this page to view the standing committee reports of Loka Kerala Sabha & enter your comments" data-tooltip-conf="top info multiline shadow") Loka Kerala Sabha Reports 
    
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script(src="./js/threed.js")
      
