doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/login.scss")

  body
    //- include parts/menu.pug

    section.section-content#login-section
      .container

        .row.justify-content-center
          .col-sm-5
            .card#login-card
              .card-body
                .text-center
                  img.img-fluid.w-25.mb-5(src="./img/dk_logo.svg")
                .mb-3
                  label.form-label Username
                  input.form-control
                .mb-3
                  label.form-label Password
                  input.form-control(type="password")
                .mb-1
                  .text-right
                    button.btn.btn-success Login

    script(src="./js/index.js")